* {
    margin: 0px;
    font-family:  Impact, 'Arial Narrow Bold', sans-serif;
}
/* || header */
#header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    text-align: center;
    flex: 3 0 0px;
}

/* || buttons */
#buttons {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

#content {
    display: flex;
    height: 270px;
    justify-content: space-around;
    align-items: center;
}

#winner {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 230px;
    gap: 59px;
}

.score {
    font-size: 123px;
}

.button {
    display: flex;
    height: 150px;
    width: 170px;
    padding: 40px;
}

body {
    display: flex;
    flex-direction: column;
}

