* {
    margin: 0px;
    font-family:  Impact, 'Arial Narrow Bold', sans-serif;
}
/* || header */
#header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    text-align: center;
    flex: 3 0 0px;
}

#reset {
    display: flex; 
    height: 40px;
    width: 40px;
}

/* || buttons */
#buttons {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.button {
    display: flex;
    height: 150px;
    width: 170px;
    padding: 40px;
}

body {
    display: flex;
    flex-direction: column;
}

